.presentacion-articulo {
    margin-bottom: 100px;
}

.presentacion-articulo:last-child {
    margin-bottom: 100px;
}


.contenido-presentacion {
  padding: 50px 100px 0 100px;
  @media (max-width: 850px) {
    padding: 50px 20px;
  }
}

.presentacion-text {
  margin-bottom: 50px;
}

.presentacion-imagen {
  display: block;
  max-width: 100%;
}

.anular-margen-inferior {
    margin-bottom: 0;
}