.presentacion-articulo {
    margin-bottom: 100px;
}

.contenido-presentacion {
  padding: 50px 100px;
  @media (max-width: 850px) {
    padding: 50px 20px;
  }
  margin-bottom: 50px;
}

.presentacion-text {
  margin-bottom: 50px;
}

.presentacion-imagen {
  display: block;
  max-width: 100%;
}
